*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}
html, body{
	width:100%;
	height:100%;
}
body{
	background:url("../img/bg.png") center center no-repeat;
	background-size:cover;
}
.content{
	position:relative;
	top:50%;
	left:50%;
	margin-top:-237.5px;
	margin-left:-480px;
	width:960px;
	height:475px;
	overflow:hidden;
	border-radius:10px;
	box-shadow:0 0 20px rgba(0, 0, 0, .5);
	text-align:center;
}
.content::after{
	content:"";
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:-1;
	-webkit-filter:blur(20px);
	   -moz-filter:blur(20px);
	    -ms-filter:blur(20px);
	     -o-filter:blur(20px);
	        filter:blur(20px);
	background:url("../img/bg.png") center center no-repeat;
	background-size:cover;
	background-attachment:fixed;
}
.content h1,.content p{
	margin:20px;
}